---
layout: default
---
<!-- Banner -->
	<section id="banner" class="major">
		<div class="inner">
			<header class="major">
				<div style="max-width: 400px" >
					<img src="images/embedism.png" style="max-width:100%;" />
				</div>

			</header>
			<div class="content">
				<p>Hardware doesn't have to be hard.</p>
				<ul class="actions">
				</ul>
			</div>
		</div>
	</section>

<!-- Main -->
	<!-- One -->
	<section id="two">
		<div class="inner">
		<p>Embedism is an electronic product design collective based in Brixton, South London. Our focus is bringing your ideas to life through a flexible and affordable engineering approach.</p>
		<p>Explore our capabilities and ethos in the categories below.</p>
	</div>
	</section>
	<div id="main">
		<!-- Two -->
			<section id="two" class="tiles">
				<article>
					<span class="image">
						<img src="images/pic01.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="mission" class="link">Mission</a></h3>
						<p>Hardware for Everyone</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/pic02.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="hardware" class="link">Hardware</a></h3>
						<p>Conceptualisation and Design</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/pic03.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="firmware" class="link">Firmware</a></h3>
						<p>Breathing Life into Hardware</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/pic04.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="production" class="link">Production</a></h3>
						<p>Short and Medium Run</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/pic05.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="partnerships" class="link">Partnerships and Licensing</a></h3>
						<p>Flexible Additions to Your Team and Products</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/pic06.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="clients" class="link">Clients</a></h3>
						<p>Previous Work</p>
					</header>
				</article>
			</section>

		<!-- Three -->
			<section id="three">
				<div class="inner">
	{{ content }}
				</div>
			</section>

	</div>

				