---
layout: default
---
<!-- Banner -->
	<section id="banner" class="major">
		<div class="inner">
			<header class="major">
				<div style="max-width: 400px" >
					<img src="images/embedism.png" style="max-width:100%;" />
				</div>
				<!-- <img class="title" src="images/embedism.png" > -->

			</header>
			<div class="content">
				<p>Hardware doesn't have to be hard.</p>
				<ul class="actions">
					<!-- <li><a href="#one" class="button next scrolly">Get Started</a></li> -->
				</ul>
			</div>
		</div>
	</section>

<!-- Main -->
	<div id="main">
		<!-- One -->
			<section id="one" class="tiles">
				<article>
					<span class="image">
						<img src="images/pic01.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="mission.html" class="link">Mission</a></h3>
						<p>Hardware for Everyone</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/pic02.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="hardware.html" class="link">Hardware</a></h3>
						<p>Conceptualisation and Design</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/pic03.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="firmware.html" class="link">Firmware</a></h3>
						<p>Breathing Life into Hardware</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/pic04.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="production.html" class="link">Production</a></h3>
						<p>Short and Medium Run</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/pic05.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="partnerships.html" class="link">Partnerships and Licensing</a></h3>
						<p>Flexible Additions to Your Team and Products</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/pic06.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="clients.html" class="link">Clients</a></h3>
						<p>Previous Work</p>
					</header>
				</article>
			</section>

		<!-- Two -->
			<section id="two">
				<div class="inner">
	{{ content }}
				</div>
			</section>

	</div>

				